.button {
  font-size: 18px;
  white-space: nowrap;
  padding: 10px 20px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;

  &.button_positive {
    color: #fff;
    background-color: rgb(100, 201, 100);
  }

  &.button_negative {
    color: #fff;
    background-color: rgb(253, 86, 95);
  }
}
