.editor > form > section {
  margin-bottom: 40px;
}

.editor > form > section > h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.editor > form > section > input,
textarea {
  font-size: 20px;
  padding: 10px 20px;
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
}

.editor > form > section > textarea {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  resize: none;
  box-sizing: border-box;
}

.editor .emotion_list_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.editor .button_section {
  display: flex;
  justify-content: space-between;
}
