.viewer > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.viewer > section > h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.viewer .emotion_img_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 250px;
  font-size: 25px;
  color: #fff;
  border-radius: 5px;
}

.viewer .emotion_img_wrapper_1 {
  background-color: rgb(100, 201, 100);
}
.viewer .emotion_img_wrapper_2 {
  background-color: rgb(157, 215, 114);
}
.viewer .emotion_img_wrapper_3 {
  background-color: rgb(253, 206, 23);
}
.viewer .emotion_img_wrapper_4 {
  background-color: rgb(253, 132, 70);
}
.viewer .emotion_img_wrapper_5 {
  background-color: rgb(253, 86, 95);
}

.viewer .content_wrapper {
  width: 100%;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.viewer .content_wrapper p {
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
  text-align: left;
  padding: 20px;
}
