.cell {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  background: yellow;
  overflow: hidden;
}

.gopher,
.bomb {
  width: 200px;
  height: 200px;
  bottom: 0;
  position: absolute;
  transition: bottom 1s;
}

.gopher {
  background: url(./assets/gopher.png) center center no-repeat;
  background-size: 200px 200px;
}

.dead {
  background: url(./assets/dead_gopher.png) center center no-repeat;
  background-size: 200px 200px;
}

.bomb {
  background: url(./assets/bomb.png) center center no-repeat;
  background-size: 200px 200px;
}

.boom {
  background: url(./assets/explode.png) center center no-repeat;
  background-size: 200px 200px;
}

.hidden {
  bottom: -200px;
}

.hole {
  width: 200px;
  height: 150px;
  position: absolute;
  bottom: 0;
  background: url(./assets/mole-hole.png) center center no-repeat;
  background-size: 200px 150px;
}

.hole-front {
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: url(./assets/mole-hole-front.png) center center no-repeat;
  background-size: 200px 30px;
}
