.tictactoe table {
  border-collapse: collapse;
}
.tictactoe table td {
  width: 80px;
  height: 80px;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}