#wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 80px;
  height: 100px;
  perspective: 140px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  background: navy;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}
